<cs-header>
</cs-header>

<div class="container">
  <div class="row">
    <div class="col">
       <div class="img" [routerLink]="['/cars']">
            <div class="img-text text-center">Car Service</div>
            <img src="/angular-project/assets/images/car_service.jpg" alt="car service" class="img-thumbnail img-fluid rounded ">
        </div>
    </div>
    <div class="col">
        <div class="img" [routerLink]="['/flights']">
                <div class="img-text text-center">Flights</div>
            <img src="/angular-project/assets/images/flights.jpg" alt=" flights" class="img-thumbnail img-fluid rounded ">
        </div>
    </div>
  </div>
</div>